body {
  background-color: ghostwhite;
}
h1 {
  color: darkslategray;
  font-family: 'Libre Baskerville', serif;
  font: Anton; Times, sans-serif;
  align: center;
  border-style: solid;
  border color: darkslategray;
}
h2 {
  color: 
}
p {
  color: darkslategray;
  font-family: 'Open Sans', sans-serif;
}
