body {
  background-color: ghostwhite;
}
h1 {
  color: darkslategray;
  font-family: 'Libre Baskerville', serif;
  align: center;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: darkslategray;
  padding: 20px 20px 20px 20px;
}
h2 {
  color: slategray;
  font-family: 'Oswald', sans-serif;
  align: center;
}
h3 {
  color: slategray;
  font-family: 'Oswald', sans-serif;
  align: left;
}
h4 {
  color: slategray;
  font-family: 'Open Sans', sans-serif;
  align: left;
p {
  color: lightslategray;
  font-family: 'Open Sans', sans-serif;
  align: left;
}
